@import "src/styles";

.exhibition-card {
  min-width: 250px;
  width: 15vw;
  background-color: $bc-secondary;
  color: $c-secondary-font;
  border-radius: $s-round;
  box-shadow: $shadow-values;
  transition: box-shadow linear 150ms;

  &:hover{
    transition: box-shadow linear 300ms;
    @extend .shadow_stronger;
  }
}
.card-thumbnail{
  height: 200px;
  object-fit: cover;
  object-position: 100% 20%;
}
mat-card-content{
  font-size: .75em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scroll-container{
  overflow: hidden;
}
.outer-scroll-container{
  position: absolute;
  width: 200%;
}

.close-wrapper {
  position: relative;

  & > #close-button{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100px;
    background-color: red; color: white;
    position: absolute;
    right: 0px;
    z-index: 2;
    transform: translate(50%, -50%);
    border: 0 solid;

    & > span{
      font-size: 2rem;
    }
  }
}
