
<ng-container *ngIf="exhibition">

  <mat-card class="exhibition-card">
    <img mat-card-image class="card-thumbnail" src="{{exhibition.thumbnail_url}}" alt="card-thumbnail">
    <mat-chip-list style="position:absolute; transform: translateY(-120%); left: 1%"  class="exhibition-card-custom w-100" >
      <mat-chip>Art</mat-chip>
      <mat-chip>Art</mat-chip>
      <mat-chip>Art</mat-chip>
      <mat-chip>Art</mat-chip>
      <mat-chip>Art</mat-chip>
      <mat-chip>Art</mat-chip>
      <mat-chip>Art</mat-chip>
    </mat-chip-list>
    <mat-card-title>
      {{exhibition.title}}
    </mat-card-title>
    <mat-card-subtitle style="color: #eee">
      by Lorenz
    </mat-card-subtitle>
    <mat-card-content>
      {{exhibition.description}}
    </mat-card-content>
  </mat-card>

</ng-container>

