
<ng-container *ngIf="exhibition">
  <div style="position:relative;">
    <button style="background-color: red; color: white; position: absolute; right: 0; z-index: 2" *ngIf="isDeleteMode" (click)="onDelete()">
      <span>X</span>
    </button>
    <mat-card class="exhibition-card">
      <img mat-card-image class="card-thumbnail" src="{{exhibition.thumbnail_url}}" alt="card-thumbnail">
      <ng-container *ngIf="exhibition.tags">
        <mat-chip-list style="position:absolute; transform: translateY(-120%); left: 1%"  class="exhibition-card-custom w-100">
          <mat-chip [style.background-color]="tag.color.concat('#')" *ngFor="let tag of exhibition.tags">{{tag.title}}</mat-chip>
        </mat-chip-list>
      </ng-container>
      <mat-card-title>
        {{exhibition.title}}
      </mat-card-title>
      <!--<mat-card-subtitle style="color: #eee">
        by Lorenz
      </mat-card-subtitle>-->
      <mat-card-content>
        {{exhibition.description}}
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

