<div class="d-flex justify-content-center" style="margin-top: 3%; margin-bottom: 15%">
  <div class="create-div">
  <h4>Create Exhibits</h4>
    <p class="sign-up-text">Upload Media<a class="font-gradient underlined mx-2">search in Files</a></p>
    <app-file-upload (fileOutput)="exhibitFile = $event"></app-file-upload>
    <form [formGroup]="exhibitForm" (ngSubmit)="addExhibit()">
      <p>
        <input #title matInput placeholder="Name" name="title" 
        type="text" class="input" formControlName="name">
      </p>
      <p>
        <input #desc matInput placeholder="Description" name="description" 
        type="text" class="input" formControlName="desc">
      </p>
      <button type="submit" class="py-1 rounded" [ngClass]="{'btn-disabled' : exhibitForm.invalid || !exhibitFile}"  [disabled]="exhibitForm.invalid || !exhibitFile" (click)="addExhibit()">Add to Collection</button>
    </form>
  </div>
  <hr>
  <div class="collection-div">
    <h4 >Collection</h4>
      <div class="container list">
        <div class="row">
        <div class="col col-6">
          <app-exhibit-card></app-exhibit-card>
        </div>
        <div class="col col-6">
          <app-exhibit-card></app-exhibit-card>
        </div>
        </div>
      </div>
  </div>

</div>
