@import "src/styles";

.create-div{
margin-right: 15% ;
}
.collection-div{

}
button{
  margin-top: 5%;
  width: 100%;
  font-size: 1.5em;
  background-image: $c-action;
  color: $c-secondary-font;
  box-shadow: $shadow-values;
}
hr{
  position: absolute;
  transform: rotate(90deg);
  margin-top: 20%;
  width: 33%;
  height: 5px;
  color: $c-primary;
}
.input{
  width: 100%;
}
.list{
  height: 100%;
  width: 100%;
  border: .25rem solid $c-primary;
}

