<div class="d-flex justify-content-center" style="margin-top: 3%; margin-bottom: 15%">
  <div class="create-div w-50">
  <h4>Create Exhibits</h4>
    <p class="sign-up-text">Upload Media<a class="font-gradient underlined mx-2">search in Files</a></p>
    <app-file-upload (fileOutput)="exhibitFile = $event"></app-file-upload>
    <form [formGroup]="exhibitForm" (ngSubmit)="addExhibit()">
      <p>
        <input matInput placeholder="Name" name="title"
        type="text" class="input" formControlName="name">
      </p>
      <p>
        <input matInput placeholder="Description" name="description"
        type="text" class="input" formControlName="desc">
      </p>
      <button type="submit" class="py-1 rounded" [ngClass]="{'btn-disabled' : exhibitForm.invalid || !exhibitFile}"  [disabled]="exhibitForm.invalid || !exhibitFile" >Add to Collection</button>
    </form>
  </div>
  <hr>
  <div class="collection-div w-50">
    <h4 >Collection</h4>
      <div
        class="container list rounded" style="display: grid; grid-template-columns: 1fr 1fr 1fr;  grid-gap: 1em;">
        <app-exhibit-card
          *ngFor="let exhibit of this.exhibitCollection; index as i" [exhibit]="exhibit" [count]="i"
          (delete)="deleteExhibit($event)">
        </app-exhibit-card>
      </div>
  </div>

</div>
