@import "src/styles";
#room-card-wrapper{
  color: $c-secondary-font;
  @extend .pointer;
  transition: box-shadow 250ms ease-in-out;
  background-color: $bc-secondary;
  &:hover{
    @extend .shadow_stronger;
  }
}
