<div *ngIf="room" id="room-card-wrapper" class="most-rounded pb-2 bg-secondary-c shadow" style="min-width: 350px; width: 30%;">
  <img style="object-fit: cover; aspect-ratio: 16/10;" class="most-rounded-top  w-100" src="{{this.room.room_img_url}}">
  <div class="d-flex p-2 justify-content-between font-secondary-c">
    <p class="text-nowrap fw-bold w-100">{{this.room.id}}: {{this.room.name}}</p>
    <p class="text-nowrap w-100" style="text-align: right;">{{this.room.position_amount}} Spaces*</p>
  </div>
</div>
