/* You can add global styles to this file, and also import other style files */

/**  Variables **/
//Fonts
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/inter/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/inter/Inter-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/inter/Inter-ExtraBold.ttf);
  font-weight: 900;
}

//Colours
///Background
$bc-primary: #eee;
$bc-secondary: #9096c5;
///Font
$c-font: #222;
$c-secondary-font: #eee;
///Colour
$c-primary: #9197C6;
$c-error: #d96546;
$c-action: -webkit-linear-gradient(45deg, #576391, #B470B7);

//Size
$s-side-margin: 7.5%;
$s-round: 3px;
$s-max-round: 12px;

$shadow-values: 0 4px 4px 0 #00000020;


/**     HTML - Elements     **/
html, body { height: 100%; }
body { margin: 0;}

h1, h2, h3, h4, h5, p, a{
  font-family: Inter, San Francisco, Akkurat;
  //color: $c-font;
}

h1{
  font-weight: 900;
  font-size: 84pt;
}

h2{
  font-weight: 900;
  font-size: 64pt;
}

h3{
  font-size: 36pt;
  font-weight: bold;
}

h4{
  font-size: 28pt;
  font-weight: normal;
}

h5{
  font-size: 24pt;
  color: $c-primary;
  font-weight: normal;
}
h6{
  font-size: 20pt;
  font-weight: normal;
}

p, i {
  font-size: 16pt;
}

a {
  cursor: pointer;
  font-size: 16pt;
  transition: filter ease-in 250ms;
  color: $c-font;

  &:visited {
    filter: invert(.2);
  }
  &:hover{
    filter: saturate(1.5);
  }
}

mat-icon{
  vertical-align: sub;
}

/** Custom - Class **/
.wrapper{
  margin: 0 $s-side-margin;
}

.shadow{
  box-shadow: $shadow-values;
}
.shadow_stronger{
  box-shadow: 0 6px 12px 0 #00000030;
}
.shadow-inner{
  box-shadow: inset $shadow-values;
}
.drop-shadow{
  filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.2));
}

.drop-shadow-inner{
  filter: drop-shadow(inset 0px 4px 4px rgb(0 0 0 / 0.2));
}

.rounded{
  border: 0px;
  border-radius: $s-round;
}
.most-rounded{
  border: 0px;
  border-radius: $s-max-round;
}

.bg-primary-c{
  background-color: $bc-primary !important;
}

.bg-secondary-c{
  background-color: $bc-secondary !important;
}

.font-primary-c{
  color: $c-font !important;
}
.font-secondary-c{
  color: $c-secondary-font !important;
}

.font-gradient{
  background-image: $c-action;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  &.underlined:after{
      content: '';
      background: $c-action;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2%;
  }
}
.underlined{
  text-decoration-line: underline;
}

.action-button{
  background-image: $c-action;
  color: $c-secondary-font;
  border: none;
  border-radius: $s-round;
  box-shadow: $shadow-values;
}

.link-activated{
  @extend .font-gradient;
  @extend .underlined;
  font-width: bold;
}



