<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center">
    <img id="profile-pic" class="me-5" src="./assets/img/profile-photo.jpg">
    <h1>Hi {{username}}</h1>
  </div>

  <div class="my-5">
    <div class="d-flex justify-content-between">
      <h3>Your Exhibitions</h3>
      <div class="align-bottom ">
        <button class="action-button p-2">Add</button>
        <button class="action-button p-2">Delete</button>
      </div>
    </div>

  </div>
</div>
