  <div class="row cover">
    <div class="col color-side d-flex justify-content-center flex-column">
      <img
        src="assets/image/statue.png"
        class="w-auto h-75"
        style="object-fit: cover"
      >
      <p  class="font-secondary-c m-5"
      >A new way to experience
        in the infinite virutal space. </p>
    </div>
    <div class="col white-side">
      <div class="content-wrapper">
          <img class="logo" rel="logo" src="../../../assets/image/3d-logo.png">
          <a class="navbar-brand no-after title" ><b class="font-gradient">Portfolio</b></a>
      </div>
      <h2>Welcome Back</h2>
      <form>
        <p>
            <input class="input" matInput placeholder="email@example.com" name="email" ngModel type="email">
        </p>
        <p>
            <input class="input" matInput placeholder="Password" name="password" ngModel type="password" >
        </p>
        <button type="submit" class="py-1 rounded">Log In</button>
      </form>
      <hr class="mx-auto my-5">
      <p class="sign-up-text">Don't have an account yet? <a class="font-gradient underlined" routerLink="/signup">Sign up</a></p>
  </div>
  </div>
