
  <div class="row cover">
    <div class="col color-side">
      <nav class="w-100">
        <a routerLink="/home" class="font-gradient ps-2 fw-bold" style="z-index: 2">
          <-- Home
        </a>
      </nav>
    </div>
    <div class="col white-side">
      <div class="content-wrapper">
          <img class="logo" routerLink="/home" rel="logo" src="../../../assets/image/3d-logo.png">
          <a class="navbar-brand no-after title" ><b class="font-gradient">Portfolio</b></a>
        <h2>Welcome Back</h2>
      </div>


  </div>

  </div>
