@import "src/styles";

.color-side{
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33%;
  height:100%;
  background-image: $c-action;
  z-index: 1;
}

.white-side{
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 66.66%;
  height: 100%;
}
.ps-2{
  -webkit-text-fill-color: white;
}
.logo{
  width: 10%;
  height: auto;
  margin-right: 3%;
}
.title{
  top: 10%;
  font-size: 24px;

}
.content-wrapper{
  margin-top: 20%;
  margin-left: 40%;
}
