<ngt-canvas shadows initialLog [camera]="{position: [-5,5,5], fov: 75}">
  <ngt-color attach="background" color="black"></ngt-color>

  <ng-container *ngIf="true">
    <ngt-ambient-light intensity="0.8"></ngt-ambient-light>
    <ngt-point-light intensity="1" [position]="[0, 6, 0]"></ngt-point-light>
  </ng-container>

  <ngt-soba-orbit-controls
    *ngIf="false"
    [makeDefault]="false"
  ></ngt-soba-orbit-controls>

  <ngt-soba-first-person-controls
  ></ngt-soba-first-person-controls>

  <ngt-mesh>
    <ngt-box-geometry></ngt-box-geometry>
    <ngt-mesh-basic-material wireframe></ngt-mesh-basic-material>
  </ngt-mesh>
</ngt-canvas>
<ngt-soba-loader *ngIf="false"></ngt-soba-loader>
