<app-info-tag></app-info-tag>
<div class="">
  <div>
    <mat-horizontal-stepper [linear]="false" #stepper (selectionChange)="selectionChanged($event)" [selectedIndex]="3">
      <mat-step [completed]="stepsCompleted[stepper.selectedIndex]">
      <ng-template matStepLabel>Exhibition Metadata</ng-template>
        <div class="container mt-5">
          <app-create-exhibition-metadata></app-create-exhibition-metadata>
          <div class="w-100">
            <button [ngClass]="{'disabled':!stepsCompleted[stepper.selectedIndex]}" class="w-100" mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step [completed]="stepsCompleted[stepper.selectedIndex]">
      <ng-template matStepLabel>Exhibits</ng-template>
        <div class="container mt-5">
        <h2 class="text-center">Exhibits</h2>
        <app-create-exhibition-exhibitselection (changedExhibitList)="this.exhibitionList = $event; stepsCompleted[stepper.selectedIndex] = $event.length != 0">
        </app-create-exhibition-exhibitselection>
          <div class="w-100 clearfix">
            <button class="w-49 backbutton" mat-button matStepperPrevious>Back</button>
            <button [ngClass]="{'disabled':!stepsCompleted[stepper.selectedIndex]}" class="float-end w-49" mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step [completed]="stepsCompleted[stepper.selectedIndex]">
        <ng-template matStepLabel>Select Room</ng-template>
        <app-create-exhibition-roomselection (roomSelectedEvent)="stepsCompleted[stepper.selectedIndex] = true">
          <button class="w-49 backbutton" mat-button matStepperPrevious>Back</button>
          <button [ngClass]="{'disabled':!stepsCompleted[stepper.selectedIndex]}" class="float-end w-49" mat-button matStepperNext>Next</button>
        </app-create-exhibition-roomselection>
      </mat-step>
      <mat-step [completed]="stepsCompleted[stepper.selectedIndex]">
        <ng-template matStepLabel>Arrange Exhibition</ng-template>
        <app-create-exhibition-arrange>
          <button class="w-49 backbutton" mat-button matStepperPrevious>Back</button>
          <button class="float-end w-49" mat-button (click)="stepper.reset()">Reset</button>
        </app-create-exhibition-arrange>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>


