<app-info-tag></app-info-tag>
<div class="create-wrapper position-md-relative position-lg-absolute mx-auto">
  <div class="container">
    <mat-horizontal-stepper linear #stepper (selectionChange)="selectionChanged($event)" >
      <mat-step>
        <ng-template matStepLabel>Fill out </ng-template>
        <div>
          <h1></h1>
        </div>
        <div class="w-100">
          <button mat-button class="w-100 " matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out your address</ng-template>
        <div class="row w-100 align-items-center">
          <button class="col-5" mat-button matStepperPrevious>Back</button>
          <button class="col-5" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Not quite yet</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>


