@import "./src/styles.scss";

mat-horizontal-stepper{
  background-color: unset !important;
}

.create-wrapper{
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}


.w-49{
  width: 49%;
}
button{
   @extend .action-button;
 }

@media (min-width: 992px) {
  .create-wrapper {
    width: 75%;
  }
}

.disabled, .disabled:hover{
  filter: grayscale(1);
  cursor: not-allowed;
}
