<app-info-tag></app-info-tag>
<div class="create-wrapper position-md-relative position-lg-absolute mx-auto">
  <div class="container">
    <mat-horizontal-stepper linear #stepper (selectionChange)="selectionChanged($event)" [selectedIndex]="2">
      <mat-step>
        <ng-template matStepLabel>Exhibition Metadata</ng-template>
        <app-create-exhibition-metadata></app-create-exhibition-metadata>
        <div class="w-100">
          <button mat-button class="w-100" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Select Exhibits</ng-template>
        <h2 class="text-center">Select Exhibits</h2>
        <div class="w-100 clearfix">
          <button class="w-49" mat-button matStepperPrevious>Back</button>
          <button class="float-end w-49" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Select Room</ng-template>
        <app-create-exhibition-roomselection></app-create-exhibition-roomselection>
        <div class="w-100 clearfix">
          <button class="w-49" mat-button matStepperPrevious>Back</button>
          <button class="float-end w-49" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Arrange Exhibition</ng-template>
        <h2 class="text-center">Arrange Exhibition</h2>
        <div class="my-5">

        </div>
        <div class="w-100 clearfix">
          <button class="w-49" mat-button matStepperPrevious>Back</button>
          <button class="float-end w-49" mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>


