@import "src/styles";

.search-border{
  background: $c-action;
  position: relative;
  margin-top: 5%;
  width: 40%;
  padding: 3px;
  border-radius: $s-round;
  box-shadow: $shadow-values;
  margin-bottom: 5%;
}
.search-icon{
  background: white;
  transform: scale(1.4);
  border-radius: $s-round;
  box-shadow: $shadow-values;
}
.input-group-text{
  background: none;
  border: 0;
}
.outer-box{
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
.search-icon-lg{
  position: absolute;
  top: 12%;
  left: 28.5%;
  transform: scale(8);
  color: $c-primary;
}
.found-results{
  position: absolute;
  top: 17.2%;
  left: 33%;

}
.search-tag{
  position: absolute;
  top: 14.2%;
  left: 30%;
}
.scroll-container{
  position: absolute;
  top: 50%;
  z-index: 2;
}

.mat-checkbox.mat-accent {
  .mat-checkbox-inner-container {
    margin: 2px 8px auto 0;
  }
}
.inner-title{
  padding-right: 10px;
}
