<div class="outer-box" style="margin-top: 5%">
  <mat-icon class="search-icon-lg">search</mat-icon>
  <div class="search-border mx-auto">
    <div class="input-group rounded searchbar mx-auto">
      <input type="search" class="form-control rounded" placeholder="Search" #input (keyup)="keyUp$.next(input.value)">
      <span class="input-group-text">
        <mat-icon class="search-icon mx-2">search</mat-icon>
        <mat-icon class="search-icon mx-2">filter_alt</mat-icon>
      </span>
    </div>
  </div>
  <mat-chip-list class="search-tag">
    <mat-chip>
      Art
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <p class="found-results font-gradient">4 results found</p>
</div>


<div class="container" style="margin-top: 15%">
  <app-exhibiton-list></app-exhibiton-list>
</div>

