<div class="outer-box" style="margin-top: 5%">
  <div class="search-border mx-auto">
    <div class="input-group rounded searchbar mx-auto">
      <input type="search" class="form-control rounded" placeholder="Search" #input (keyup)="keyUp$.next(input.value)">
      <span class="input-group-text">
        <mat-icon class="search-icon mx-2">search</mat-icon>
        <mat-icon (menuOpened)="getCategories()" (menuClosed)="onMenuClose()" [matMenuTriggerFor]="menu" class="search-icon mx-2">{{filter_icon}}</mat-icon>
        <mat-menu #menu="matMenu">
          <ul *ngFor="let c of categories">
          <mat-checkbox #menuItems (click)="$event.stopPropagation(); addCategory(c.id)"  [ngStyle]="{'color': c.color}"
          ><p>{{c.category_title}}</p></mat-checkbox>
        </ul>
        </mat-menu>
      </span>
    </div>
  </div>
  <mat-chip-list class="search-tag">
    <mat-chip>
      Art
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <p class="found-results font-gradient">{{searchResults.length}} Ergebnisse</p>
</div>


<div class="container" style="margin-top: 15%">

  <div *ngIf="searchResults.length">
    <div class="container">
      <div class="row">
        <app-exhibition-card class="col-3"
             *ngFor="let e of searchResults"
             [exhibtion]="e"></app-exhibition-card>
      </div>
    </div>

  </div>
</div>
