@import "src/styles";



.logo{
  width: 10%;
  height: auto;
  margin-right: 3%;
}
.title{
  top: 10%;
  font-size: 24px;

}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
nav{
  margin-top: 1%;
}
.profile {
  color: $c-secondary-font;
  border: none;
  border-radius: $s-round;
  padding: 5%;
  box-shadow: $shadow-values;
}
content-wrapper{
  text-align: center;
}
