<nav class="w-100" *ngIf="navbar.visible">
    <div class="row nav-container mx-4">
      <div class="col-3">
        <img class="logo" routerLink="/home" rel="logo" src="../../../assets/image/3d-logo.png">
        <a class="navbar-brand no-after title" routerLink="/home"><b class="font-gradient">Portfolio</b></a>

        <img class="logo" routerLink="/home" rel="logo" src="assets/img/3d-logo.png">
        <a class="navbar-brand title" routerLink="/home"><b class="font-gradient">Portfolio</b></a>
      </div>
      <div class="col-6 text-center ">
        <div class="d-flex justify-content-between">
          <a class="navbar-brand"
             routerLink="/home" routerLinkActive="link-activated"><mat-icon>home</mat-icon>Home</a>
          <a class="navbar-brand"
             routerLink="/search" routerLinkActive="link-activated"><mat-icon>search</mat-icon>Search</a>
          <a class="navbar-brand"
             routerLink="/profile" routerLinkActive="link-activated"><mat-icon>person
          </mat-icon>Profile</a>
        </div>
      </div>
      <div class="col-3" >
        <a class="navbar-brand" style="float: right" routerLink="/log-signin"><button class="profile px-5 action-button" >Sign in / Log in</button></a>
      </div>
    </div>
</nav>
