<nav class="bg-primary-c w-100">
    <div class="row nav-container mx-4">
      <div class="col-4">
        <img class="logo" routerLink="/home" rel="logo" src="assets/img/3d-logo.png">
        <a class="navbar-brand no-after title" routerLink="/home"><b class="font-gradient">Portfolio</b></a>
      </div>
      <div class="col-4 text-center">
        <a class="navbar-brand nostyle" routerLink="/home"><mat-icon>search</mat-icon>Search</a>
      </div>
      <div class="col-4" >
        <a class="navbar-brand nostyle" style="float: right" routerLink="/home"><button class="profile px-5 action-button">Sign in / Log in</button></a>
      </div>
    </div>
</nav>
