.logo{
  width: 10%;
  height: auto;
  margin-right: 5%;
}
.title{
  top: 10%
}
.nav-container{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
nav{
  margin-top: 1%;
}

