
<div mat-dialog-actions>
  <button class="btn-close dialog-close" mat-button mat-dialog-close></button>
</div>
<div #lookUpSizeDetail >
  <img *ngIf="fileType == 'image'" src="{{thumbnail}}" class="detail">
  <video class="detail" controls *ngIf="fileType == 'video'">
    <source src="{{videoSrc}}" type="video/mp4">
  </video>
  <canvas [style.display]="fileType == '3d' ? 'block' : 'none'" #threeDetailCanvas class="detail"></canvas>
</div>

<div class="detail-exhibit">
<h3 class="font-gradient">{{title}}</h3>
<div mat-dialog-content >
  <p class="desc">{{desc}}</p></div>
  <div mat-dialog-actions>
    <button class="action-button nav-button" mat-button (click)="prevEx()">Previous</button>
    <button class="action-button nav-button-left" mat-button (click)="nextEx()">Next</button>
  </div>

</div>
