@import "./src/styles";

.clickypointy{
  mat-icon{
    @extend .hover-saturated;
    @extend .pointer;
    font-size: 4rem;
    width: auto;
    height: auto;
  }
}
#slideshow-container{
  display: inline;
  padding-bottom: 1%;
}
#slideshow-container::-webkit-scrollbar{
  height: 5px;
}
#slideshow-container::-webkit-scrollbar-thumb{
  background-color: $bc-secondary;
  border: 0px;
  border-radius: 5px;
}
