<div class="container">
  <div class="row my-5">
    <div class="col-6">
    <h5 class="mb-0 pt-5">let's create experiences together</h5>
    <h1 class="mb-0 drop-shadow">3D Portfolio</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
    </div>
    <a class="my-3">
      <button class="action-button p-5 py-3">Start creating</button>
    </a>
  </div>
  <div class="my-5 py-5">
    <h3>Exhibitions</h3>
    <p>the best of the best</p>
    <p>check them out</p>
  </div>


  <a class="font-gradient underlined drop-shadow fw-bold">check out more --></a>
</div>
