<app-three-room class="w-100 h-100"></app-three-room>
<!--<app-three-d-object-loader [srcModel]="'assets/three-d-objects/room/floor/2.gltf'"  ></app-three-d-object-loader>
    <app-three-d-object-loader [srcModel]="'assets/three-d-objects/room/walls/2.gltf'"  ></app-three-d-object-loader>


<div class="position-absolute top-0 w-100 h-100">

  <ng-container>

  <ngt-canvas #camera>
    <ngt-ambient-light intensity="2"></ngt-ambient-light>
    <ngt-spot-light [position]="[0, 5, 0]" penumbra="1"></ngt-spot-light>-->


    <!-- <ngt-perspective-camera></ngt-perspective-camera>
      <ngt-soba-orbit-controls
       *ngIf="false"
       [makeDefault]="false"
     ></ngt-soba-orbit-controls>
     <ngt-soba-first-person-controls

  <ngt-soba-fly-controls

       [movementSpeed]="movementSpeed"
     ></ngt-soba-fly-controls>
     ></ngt-soba-first-person-controls>
     <ngt-soba-orbit-controls
       *ngIf="false"
       [makeDefault]="false"
     ></ngt-soba-orbit-controls>


     <app-three-d-object-loader [srcModel]="'assets/three-d-objects/room/floor/2.gltf'"  ></app-three-d-object-loader>
     <app-three-d-object-loader [srcModel]="'assets/three-d-objects/room/walls/2.gltf'"  ></app-three-d-object-loader>
    <ngt-soba-first-person-controls></ngt-soba-first-person-controls>

   </ngt-canvas>
 </ng-container>

 </div>-->

